<nav class="col-lg-12 col-md-12 col-sm-12 navbar navbar-expand-lg bg-light fixed-top">
    <div class="container-fluid d-flex justify-content-between  mx-5">
        <div class="align-item-start mx-0">
   <a class="navbar-brand text-p" routerLink=""  ariaCurrentWhenActive="page">LOGO</a>
       </div>
       <div class="align-item-center">
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mx-3 justify-content-between text-p">
          <li class="nav-item">
            <a class="nav-link mx-3 text-p" href="#" aria-current="page">Packages</a>
          </li>
          <li class="nav-item">
            <a class="nav-link  mx-3 text-p" href="#">Offers</a>
          </li>
          <li class="nav-item">
            <a class="nav-link mx-3 text-p" href="#">Contact Us</a>
          </li>
          <li class="nav-item dropdown">
            <select class="form-select text-p" aria-label="Default select example">
              <option selected >Currency $</option>
              <option value="1">AED</option>
              <option value="2">EGP</option>
              <option value="3">EUR</option>
            </select>
          </li>
          <li class="nav-item dropdown">
            <select class="form-select  text-p" aria-label="Default select example">
              <option selected class="text-p">Lang(Eng)</option>
              <option value="1">English</option>
              <option value="2">Arabic</option>
              <option value="3">French</option>
            </select>
          </li>
          <li class="nav-item">
            <a class="nav-link mx-3 text-p" href="#">Sign In</a>
          </li>
          <li class="nav-item">
            <a class="nav-link  mx-3 text-p" href="#">Sign Up</a>
          </li>
        </ul>
      </div>
    </div>
    </div>
  </nav>